body{
    margin: 0;
    text-align: center;
}


nav{
    background-color: #139AD3;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 32px;
}
p{
    margin: 0;
}
input{
    background-color: #D9D9D9;
    height: 39px;
    width: 452px;

    margin-bottom: 12px;
    border: 0px; 

    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;

}
input::placeholder{
color: rgb(61,61,61);
}

form{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 136px;
    height: 35px;
    margin-top: 48px;
    background-color: #6CCEF8;

    border: 0px;
}
.title-nav{
    color: white;
    font-size: 40px;
}
.subtitle{
    font-size: 22px;
    margin-top: 60px;  
}